APPWRITE_API_KEY=
APPWRITE_DATABASE_ID=TutorsLinkDatabase
APPWRITE_ENDPOINT=https://fra.cloud.appwrite.io/v1
APPWRITE_PROJECT_ID=tutorslink
VITE_APPWRITE_DATABASE_ID=TutorsLinkDatabase
VITE_APPWRITE_ENDPOINT=https://fra.cloud.appwrite.io/v1
VITE_APPWRITE_PROJECT_ID=tutorslink
OPENAI_API_KEY=
